.grid1{
    position: absolute;
    display:grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: 30px;
    transform: rotate(-90deg);
    z-index: -1;
    top: 50px;
    left: 200px;
}
.grid2{
    position: absolute;
    display:grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: 30px;
    transform: rotate(-90deg);
    z-index: -1;
    top: 380px;
    left: 200px;
}
.grid3{
    position: absolute;
    display:grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: 30px;
    transform: rotate(-90deg);
    z-index: 1;
    top: 50px;
    left: 800px;
}
.grid4{
    position: absolute;
    display:grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: 30px;
    transform: rotate(-90deg);
    z-index: 1;
    top: 380px;
    left: 800px;
}
.water{
    width: 30px;
    height:30px;
    background-color:aqua;
}
.hit{
    width:30px;
    height:30px;
    background-color: red;
}
.ship{
    width:30px;
    height:30px;
    background-color: gray;
}
.miss{
    width:30px;
    height:30px;
    background-color: yellow;
}
#curtain1{
    position: absolute;
    width:400px;
    height:800px;
    background-color: white;
    z-index: 2;
    top: 50px;
    left: 170px;
}
#curtain2{
    position: absolute;
    width:400px;
    height:800px;
    background-color: white;
    z-index: 2;
    top: 50px;
    left: 770px;
}
#curtain3{
    position: absolute;
    width:175px;
    height:30px;
    background-color: white;
    top: 297px;
    left: 600px;
    z-index:0;
}
#curtain4{
    position: absolute;
    width:1000px;
    height: 800px;
    top: 25px;
    left: 200px;
    background-color: white;
    z-index:-10;  
    font: 100px Arial;
    color:white;
    text-align: center;
    vertical-align: middle;
    line-height: 800px; 
  
}
#place1, #shoot1{
    position:absolute;
    font: 14px Arial;
    top: 775px;
    left: 325px;
}
#placementCoordinates1, #shootingCoordinates1{
    position:absolute;
    font: 14px Arial;
    top: 750px;
    left: 260px;
}
#label1,#shotLabel1{
    position:absolute;
    font: 14px Arial;
    top: 715px;
    left: 200px;
}
#place2, #shoot2{
    position:absolute;
    font: 14px Arial;
    top: 775px;
    left: 925px;
}
#placementCoordinates2, #shootingCoordinates2{
    position:absolute;
    font: 14px Arial;
    top: 750px;
    left: 860px;
}
#label2, #shotLabel2{
    position:absolute;
    font: 14px Arial;
    top: 715px;
    left: 800px;
}
#ready{
    position:absolute;
    font: 14px Arial;
    top:300px;
    left: 600px;
    z-index:1;
}
.zPlacement{
    z-index:0;
}
.zShot{
    z-index:-5;
}
#error{
    position:absolute;
    color: white;
    font: 25px Arial;
    top:300px;
    left: 525px; 
    z-index:1;
}
.message{
    position:absolute;
    color: black;
    font: 14px Arial;
    z-index:1;
}
#message1{
    top:800px;
    left: 265px;
}
#message2{
    top:800px;
    left: 865px;
}
.container1 { 
    position:absolute;
    top:350px;
    left: 200px;
    display: flex;
    flex-flow: row wrap;
}
.container2 { 
    position:absolute;
    top:680px;
    left: 200px;
    display: flex;
    flex-flow: row wrap;
}
.container3 { 
    position:absolute;
    top:350px;
    left: 800px;
    display: flex;
    flex-flow: row wrap;
}
.container4 { 
    position:absolute;
    top:680px;
    left: 800px;
    display: flex;
    flex-flow: row wrap;
}
.container5 { 
    position:absolute;
    top:375px;
    left: 170px;
    display: flex;
    flex-flow: column wrap;
}
.container6 { 
    position:absolute;
    top:50px;
    left: 770px;
    display: flex;
    flex-flow: column wrap;
}
.container7 { 
    position:absolute;
    top:50px;
    left: 170px;
    display: flex;
    flex-flow: column wrap;
}
.container8 { 
    position:absolute;
    top:375px;
    left: 770px;
    display: flex;
    flex-flow: column wrap;
}
  
.item {
    padding: 5px;
    width: 20px;
    height: 20px;
    color: black;
    font: 14px Arial;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }